.main__section {
  width: 100%;
  height: 100vh;
  background-color: rgb(248, 248, 215);
}

.testimonial__slider {

  width: 60rem;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10rem;

}

.slide {
  border: 1px solid red;
  background-color: aqua;
  padding: 10px;
}

.card {
  width: 50rem;
  padding: 10px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
    gap: 0.8rem;
}